<div class="outer-container">
  <div class="head-line">
    <div class="title" style="float: left">Qualifikationen</div>
    <div *ngIf="selectable" class="title add-button" style="float: right" (click)="dataService.createQualificationDialog = true">+</div>
  </div>
  <div class="qualification-list">
    <div class="inner-list">
      <div class="qualification" *ngFor="let qualification of qualifications">
        <input type="checkbox" class="selectButton" *ngIf="selectable">{{qualification}}
      </div>
    </div>
  </div>
</div>
