.dot {
  background-color: #6868dc;
  border-radius: 50%;
  display: inline-block;
}

.big {
  height: 100px;
  width: 100px;
}

.small {
  height: 50px;
  width: 50px;
}

.text {
  user-select: none;
  position: relative;
  color: white;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-small {
  font-family: "Monospace", sans-serif;
  font-size: 25px;
}

.text-big {
  font-family: "Monospace", sans-serif;
  font-size: 50px;
}
