<div class="background" (click)="clickBackground()">
  <div class="qualification-list" (click)="clickForeground()">
    <div class="close-button"><span class="material-icons" style="font-size: 24px; cursor: pointer" (click)="close()">close</span></div>
    <div class="head-line">
      <input type="text" [(ngModel)]="addNewText" placeholder="Neue Qualifikation" class="input">
      <div class="add-button" (click)="add()"><div style="cursor: pointer">+</div></div>
    </div>
    <div class="separator"><div class="separator-line"></div></div>
    <div class="outer-list">
      <div class="inner-list">
        <table>
          <tr class="list-row" *ngFor="let qualification of dataService.qualifications">
            <td colspan="130px">
              <ng-container *ngIf="dataService.qualificationEdit?.id == qualification.id; then editName else fixName">
              </ng-container>
              <div style="width: 130px">
                <ng-template #editName>
                  <input class="edit-input" type="text" [(ngModel)]="dataService.qualificationEdit!.name">
                </ng-template>
                <ng-template #fixName>
                  <div>{{qualification.skill}}</div>
                </ng-template>
              </div>
            </td>
            <td colspan="20px">
              <ng-container *ngIf="dataService.qualificationEdit?.id == qualification.id; then editNameB else fixNameB">
              </ng-container>
              <div style="width: 20px;">
                <ng-template #editNameB>
                  <span class="material-icons" style="font-size: 16px; cursor: pointer" (click)="save()">save</span>
                </ng-template>
                <ng-template #fixNameB>
                  <span class="material-icons" style="font-size: 16px; cursor: pointer" (click)="edit(qualification)">edit</span>
                </ng-template>
              </div>
            </td>
            <td style="; width: 20px;" colspan="20px">
              <div style="width: 20px;">
                <span class="material-icons" style="font-size: 16px; cursor: pointer" (click)="delete(qualification)">delete</span>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
