<div class="background" (click)="clickBackground()">
  <div class="outer-container" (click)="clickForeground()">
    <div class="close-button"><span class="material-icons" style="font-size: 24px; cursor: pointer" (click)="close()">close</span></div>
    <div><app-employee-initials class="initials" [employee]="employee" [big]="true"></app-employee-initials></div>
    <div class="name-text"><div>{{employee?.employeeFullName()}}</div></div>
    <div class="separator" style="top: 160px"><div class="separator-line"></div></div>
    <div class="detail-infos">
      <div>
        <div class="info-field">ID</div>
        <div class="info">{{employee?.id}}</div>
      </div>
      <div>
        <div class="info-field">Str</div>
        <div class="info">{{employee?.street}}</div>
      </div>
      <div>
        <div class="info-field">PLZ/City</div>
        <div class="info">{{employee?.postcode + ', ' + employee?.city}}</div>
      </div>
      <div>
        <div class="info-field">Phone</div>
        <div class="info">{{employee?.phone}}</div>
      </div>
    </div>
    <div class="separator" style="top: 160px"><div class="separator-line"></div></div>
    <app-qualification-card class="qualification-card" [qualifications]="employee?.skills"></app-qualification-card>
    <div class="buttons">
      <div class="button" style="float: left"><span class="material-icons" style="font-size: 24px">delete</span></div>
      <div class="button" style="float: right"><span class="material-icons" style="font-size: 24px; float:right;">edit</span></div>
    </div>
  </div>
</div>
