.background {
  width: 100%;
  height: 100%;
  background-color: #00000077;
  position: relative;
}

.outer-container {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 260px;
  height: 520px;
  background-color: white;
  border-radius: 20px;
}

.close-button {
  position: fixed;
  right: 5px;
  top: 2px;
}

.initials {
  position: fixed;
  left: 50%;
  top: 20px;
  float: left;
  transform: translate(-50%, 0);
}

.name-text {
  position: relative;
  transform: translate(-50%, 0);
  left: 50%;
  overflow: hidden scroll;
  text-align: center;
  width: 240px;
  height: 45px;
  font-size: 18px;
  font-family: "Tahoma", sans-serif;
  top: 160px;
}

.detail-infos {
  width: 220px;
  position: relative;
  transform: translate(-50%, 0);
  left: 50%;
  top: 160px;
}

.separator {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  top: 22px;
  height: 20px;
  width: 220px;
  background-color: transparent;
}

.separator-line {
  height: 1px;
  width: 180px;
  position: relative;
  left: 20px;
  top: 9px;
  background-color: darkslategray;
}

.info-field {
  font-family: "Tahoma", sans-serif;
  font-size: 10px;
  color: darkgray;
}

.info {
  position: relative;
  top: -3px;
}

.qualification-card {
  position: relative;
  top: 160px;
}

.buttons {
  position: relative;
  top: 160px;
}

.button {
  position: relative;
  margin: 5px;
  cursor: pointer;
}
