.outer-container {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 260px;
  height: 120px;
  border: #6868dc solid 1px;
}

.head-line {
  position: relative;
  text-align: center;
  top: 20px;
  height: 20px;
  border-radius: 10px;
  font-size: 16px;
  font-family: "Tahoma", sans-serif;
}

.text-field {
  position: relative;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 10px;
  background-color: lightgray;
  width: 200px;
  height: 20px;
}

.input {
  background-color: transparent;
  position: relative;
  float: left;
  border: none;
  width: 185px;
  height: 20px;
  font-family: "Tahoma", sans-serif;
  font-size: 16px;
  left: 5px;
}

.input:focus {
  outline: none;
}

.add-button {
  cursor: pointer;
  position: relative;
  width: 100px;
  height: 20px;
  top: 40px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: lightgray;
  text-align: center;
  border-radius: 10px;
  transition: 0.5s;
}

.add-button:hover {
  background-color: darkgray;
}

.add-button-text {
  font-family: "Tahoma", sans-serif;
  font-size: 16px;
  margin-top: 2px;
}
