.outerEmployeeContainer {
  overflow: hidden scroll;
  user-select: none;
  height: 100%;
}

.innerEmployeeContainer {
  position: relative;
  height: 100%;
  left: 50%;
  transform: translate(-50%, 0);
}
